{% block about %}

{% if meta %}
<h3>
This Post
</h3>

Published {{ meta.date.split(' ')[0] }}

{% endif %}

<h3>
Find me online
</h3>

<ul>
<li>
<a href="https://twitter.com/ericholscher" rel="me">Twitter</a>
</li>
<li>
<a href="https://github.com/ericholscher" rel="me">GitHub</a>
</li>
<li>
<a href="https://gittip.com/ericholscher" rel="me">Gittip</a>
</li>
</ul>

<h3>
Email me
</h3>

eric@ericholscher.com

<h3>
Subscribe
</h3>

<a type="application/rss+xml" href="http://feeds.feedburner.com/EricsThoughts">RSS</a>

<h2>
Conferences
</h2>

Write the Docs is happening in Europe and North America this year:

<ul>
<li>
<a href="http://conf.writethedocs.org/na/2014/" rel="me">Portland</a>
</li>
<li>
<a href="http://conf.writethedocs.org/eu/2014/" rel="me">Budapest</a>
</li>
</ul>



<h3>
Fund my work
</h3>

<p>
I am currently working to <a href="http://ericholscher.com/blog/2013/sep/25/help-me-improve-documentation/">improve open source documentation</a>.
If you think this work is important, please <a href="https://www.gittip.com/ericholscher">support me on Gittip</a>.
</p>

{% endblock %}
